body {
    padding-top: 50px;
}

.navbar{
    background-color: black;
}

.navbar a{
    color:white;
}

.nav.navbar-nav a:hover{
    background-color: #519CD0;
}

.navbar-toggle{
    background-color: #519CD0;
}

.navbar-collapse a{
    text-align: center;
}

.icon-bar{
    background-color: white;
}

.footer{
    background-color: black;
    padding:25px 0;
    color:white;
}

.starter-template {
    padding:15px 0;
}

.pulse-logo img{
    max-width: 100%;
}

.pulse-logo{
    width:500px;
    margin:auto;
}