@import url(lightbox/bootstrap-lightbox.css);
@import url(lightbox/bootstrap-lightbox.min.css);
header .navbar {
  background-color: black;
  border-bottom: 10px solid #519CD0; }
  header .navbar .navbar-toggle {
    background-color: #519CD0; }
  header .navbar .icon-bar {
    background-color: white; }
  header .navbar .navbar-collapse {
    float: left; }
    @media (max-width: 767px) {
      header .navbar .navbar-collapse {
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding: 0px !important;
        overflow: visible !important;
        max-height: 369px; } }
    header .navbar .navbar-collapse .nav.navbar-nav li a {
      text-align: center;
      padding: 35px 25px;
      color: white; }
    header .navbar .navbar-collapse .nav.navbar-nav li a:focus {
      background-color: #519CD0; }
    header .navbar .navbar-collapse .nav.navbar-nav li a:hover {
      background-color: #519CD0; }
    header .navbar .navbar-collapse .nav.navbar-nav ul.dropdown-menu li a {
      padding: 10px;
      color: black; }
    header .navbar .navbar-collapse .nav.navbar-nav .open > a {
      background-color: #417DA6; }
    header .navbar .navbar-collapse .nav.navbar-nav.admin-nav li a {
      min-width: 158px; }
header .navbar-brand {
  height: auto;
  padding: 0px 15px; }
  header .navbar-brand .logo {
    height: 90px; }
header .contact-container {
  float: right;
  margin-top: 10px; }
  @media (max-width: 767px) {
    header .contact-container {
      display: none; } }
  header .contact-container .email {
    color: white; }
  header .contact-container a.button {
    display: block;
    margin: 0 auto; }

footer {
  background-color: black;
  padding: 25px 0;
  color: white;
  text-align: center; }
  footer .secret-social-icons {
    margin-bottom: 5px; }
    footer .secret-social-icons .icon {
      display: inline-block; }
      footer .secret-social-icons .icon a {
        display: block;
        height: 100%; }
    footer .secret-social-icons .t {
      background-image: url("../images/t_icon.png");
      background-size: 38px 38px;
      width: 38px;
      height: 38px; }
    footer .secret-social-icons .f {
      background-image: url("../images/f_icon.png");
      background-size: 38px 38px;
      width: 38px;
      height: 38px; }
    footer .secret-social-icons .y {
      background-image: url("../images/y_icon.png");
      background-size: 38px 38px;
      width: 38px;
      height: 38px; }

body {
  padding-top: 100px;
  font-size: 16px; }
  body .blue {
    color: #519CD0; }
  body p, body div, body span {
    font-family: 'Roboto', sans-serif; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Droid Sans', sans-serif; }
  body .page-title {
    margin-bottom: 0px;
    background-image: url("../images/darkpattern.png");
    color: white;
    padding: 30px 15px;
    text-align: center;
    margin-top: 0px; }
  body .button.blue {
    background-image: -ms-linear-gradient(top, #519CD0, #519CD0);
    background-color: #519CD0;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#519CD0), to(#519CD0));
    background-image: -moz-linear-gradient(top, #519CD0, #519CD0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #519CD0), color-stop(100%, #519CD0));
    background-image: -webkit-radial-gradient(center, #519CD0, #519CD0);
    background-image: -o-linear-gradient(top, #519CD0, #519CD0);
    background-image: linear-gradient(top, #519CD0, #519CD0);
    color: white;
    border: 1px solid black; }
  body .button:hover {
    opacity: 0.8; }
  body .mainbar {
    margin-bottom: 25px;
    margin-top: 25px;
    min-height: 435px; }
  body .clear {
    clear: both; }

body.home .container.home {
  min-height: 524px; }
body.home .topbar {
  background-image: url("../images/darkpattern.png"); }
  body.home .topbar .container {
    padding-top: 25px; }
    body.home .topbar .container .flexslider li {
      padding: 0 55px; }
      @media (max-width: 767px) {
        body.home .topbar .container .flexslider li {
          padding: 0 5px; } }
      body.home .topbar .container .flexslider li .image {
        float: left;
        width: 30%;
        height: 200px; }
        @media (max-width: 767px) {
          body.home .topbar .container .flexslider li .image {
            width: 100%; } }
        body.home .topbar .container .flexslider li .image img {
          border: 3px solid white;
          height: 100%; }
      body.home .topbar .container .flexslider li .promo-container {
        width: 70%;
        float: left;
        color: white; }
        @media (max-width: 767px) {
          body.home .topbar .container .flexslider li .promo-container {
            width: 100%; } }
        body.home .topbar .container .flexslider li .promo-container .content {
          padding: 10px 20px; }
          @media (max-width: 767px) {
            body.home .topbar .container .flexslider li .promo-container .content {
              padding: 15px 20px; } }
          body.home .topbar .container .flexslider li .promo-container .content .promo-title {
            margin-top: 0px;
            margin-bottom: 20px; }
            @media (max-width: 979px) {
              body.home .topbar .container .flexslider li .promo-container .content .promo-title {
                font-size: 28px;
                text-align: center; } }
          body.home .topbar .container .flexslider li .promo-container .content .promo {
            margin-bottom: 5px; }
            @media (max-width: 767px) {
              body.home .topbar .container .flexslider li .promo-container .content .promo {
                text-align: center; } }
          body.home .topbar .container .flexslider li .promo-container .content .venue-container {
            float: left; }
          body.home .topbar .container .flexslider li .promo-container .content .attendance-container {
            float: right; }
    body.home .topbar .container .flexslider .flex-control-nav {
      display: none; }
    @media (max-width: 767px) {
      body.home .topbar .container .flexslider .flex-direction-nav {
        display: none; } }
    body.home .topbar .container .flexslider .flex-direction-nav li a {
      color: #428bca; }
@media (max-width: 767px) {
  body.home .main-content {
    width: 100%; } }
body.home .main-content .pulse-logo {
  width: 260px;
  margin: auto; }
  body.home .main-content .pulse-logo img {
    max-width: 100%; }
@media (max-width: 767px) {
  body.home .main-content p {
    text-align: center; } }
body.home .shows {
  text-align: center; }
  body.home .shows .bold-text {
    font-weight: bold;
    color: #519CD0; }
  body.home .shows p {
    line-height: 10px; }
  body.home .shows h2 {
    margin-bottom: 20px !important;
    margin-top: 20px; }

body.theband .the-band-page img {
  width: 393px;
  height: 295px;
  background-size: contain; }
body.theband .the-band-page .band-member {
  display: inline-block;
  float: left; }
  body.theband .the-band-page .band-member .name {
    text-align: center;
    font-size: 20px;
    margin-top: 10px; }
  body.theband .the-band-page .band-member span {
    color: #519cd0; }
body.theband .the-band-page .row {
  padding-left: 23.5%; }
  @media (min-width: 768px) and (max-width: 979px) {
    body.theband .the-band-page .row {
      padding-left: 50px; } }
  @media (max-width: 767px) {
    body.theband .the-band-page .row {
      padding-left: 30px; } }
  body.theband .the-band-page .row .patrick-container, body.theband .the-band-page .row .max-container {
    padding-right: 20px; }
body.theband .the-band-page .bio {
  overflow: hidden; }
  body.theband .the-band-page .bio .link {
    background-size: contain;
    background-repeat: no-repeat;
    height: 295px;
    width: 295px;
    display: block; }
  body.theband .the-band-page .bio .marcus-link {
    background-image: url("../../images/band/marcus.JPG"); }
  body.theband .the-band-page .bio .max-link {
    background-image: url("../../images/band/max.JPG"); }
  body.theband .the-band-page .bio .patrick-link {
    background-image: url("../../images/band/pat.JPG"); }
  body.theband .the-band-page .bio .trevor-link {
    background-image: url("../../images/band/trevor.JPG"); }
body.theband .the-band-page .bio {
  border: solid;
  text-align: center;
  display: inline-block;
  height: 227px;
  width: 300px;
  box-shadow: 10px 10px 5px #888888;
  background-color: #519CD0; }
  body.theband .the-band-page .bio a {
    color: black;
    font-weight: bold; }
body.theband .the-band-page .modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }
body.theband .the-band-page .modalDialog:target {
  opacity: 1;
  pointer-events: auto; }
body.theband .the-band-page .modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999); }
  @media (max-width: 767px) {
    body.theband .the-band-page .modalDialog > div {
      width: 320px; } }
body.theband .the-band-page .close {
  background: #606061;
  color: #FFFFFF;
  opacity: 1;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000; }
body.theband .the-band-page .close:hover {
  background: #00d9ff; }

body.gallery .modal-body img {
  width: 560px;
  height: 400px; }
body.gallery .row {
  margin: 0px; }
body.gallery .clear {
  clear: both; }
body.gallery .gallery-container .img-box {
  width: 24%;
  float: left;
  height: 212px;
  margin-right: 10px;
  padding: 0px;
  border: 3px solid #519CD0;
  margin-bottom: 10px; }
  body.gallery .gallery-container .img-box a img {
    width: 268px;
    height: 206px; }
body.gallery .gallery-container .img-box.last {
  margin-right: 0px; }
body.gallery .gallery-container .img-box.first {
  margin-left: 8px; }

body.media {
  margin: 0 0;
  /*
* Media Page
*/ }
  body.media .mainbar {
    min-height: 585px;
    margin-top: 25px; }
  body.media .song-container {
    margin-bottom: 15px; }
    body.media .song-container .song-info {
      float: left;
      width: 303px;
      color: black; }
      @media (min-width: 980px) and (max-width: 1199px) {
        body.media .song-container .song-info {
          width: 180px; } }
      @media (min-width: 768px) and (max-width: 979px) {
        body.media .song-container .song-info {
          width: 283px; } }
      @media (max-width: 767px) {
        body.media .song-container .song-info {
          width: 325px;
          border-right: 5px solid #519CD0; } }
      body.media .song-container .song-info .content {
        border: 1px solid #519CD0;
        border-left: 5px solid #519CD0;
        border-right: 0px;
        text-align: center;
        padding: 10px 10px 8px; }
    body.media .song-container .jp-audio {
      float: left; }
      @media (max-width: 767px) {
        body.media .song-container .jp-audio {
          width: 325px;
          overflow: hidden; } }
      body.media .song-container .jp-audio .jp-details {
        display: none; }
  body.media .recording-info-container {
    text-align: center;
    background-image: url("../images/darkpattern.png");
    color: white;
    padding: 15px 0px; }
    body.media .recording-info-container h2 {
      margin-bottom: 35px;
      margin-top: 5px; }
    body.media .recording-info-container .image-container {
      margin: 0px 25px 25px;
      border: 3px solid white; }
      body.media .recording-info-container .image-container img {
        max-width: 100%; }
    body.media .recording-info-container .content {
      padding: 0px 15px; }

.admin .admin-option {
  float: left;
  width: 50%;
  margin-bottom: 15px; }
  .admin .admin-option h2 {
    color: black; }
  .admin .admin-option a.option-link {
    display: block;
    background-color: rgba(81, 156, 208, 0.6);
    width: 90%;
    margin: auto;
    padding: 15px;
    text-align: center;
    min-height: 150px;
    border-radius: 5px; }
  .admin .admin-option a:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8; }

body.contact .mainbar h2 {
  font-weight: bold;
  color: #428bca;
  margin-bottom: 30px;
  font-size: 38px; }
body.contact .mainbar p {
  line-height: 38px;
  font-size: 18px; }
body.contact .sidebar {
  margin: 25px 0px; }
  body.contact .sidebar .name label, body.contact .sidebar .email label, body.contact .sidebar .message label, body.contact .sidebar .phone label {
    width: 100%;
    margin: 5px 0px; }
  body.contact .sidebar .name textarea, body.contact .sidebar .email textarea, body.contact .sidebar .message textarea, body.contact .sidebar .phone textarea {
    width: 100%;
    resize: none; }
  body.contact .sidebar .name input, body.contact .sidebar .name textarea, body.contact .sidebar .email input, body.contact .sidebar .email textarea, body.contact .sidebar .message input, body.contact .sidebar .message textarea, body.contact .sidebar .phone input, body.contact .sidebar .phone textarea {
    box-shadow: 3px 3px 5px #888888;
    border: 1px solid #888888; }
  body.contact .sidebar .name .error-msg, body.contact .sidebar .email .error-msg, body.contact .sidebar .message .error-msg, body.contact .sidebar .phone .error-msg {
    color: #ff0033;
    padding-top: 5px; }
  body.contact .sidebar input[type='submit'] {
    width: 40%;
    margin: 5px 0px; }
  body.contact .sidebar .success {
    margin-top: 10px; }
    body.contact .sidebar .success .success-message {
      border: 1px solid #4F8A10;
      color: #4F8A10;
      background-color: #DFF2BF;
      font-size: 24px;
      padding: 5px 0px;
      margin: 0px;
      text-align: center;
      position: relative; }
      body.contact .sidebar .success .success-message .close-msg {
        font-size: 16px;
        color: #4F8A10;
        position: absolute;
        top: 2px;
        right: 7px;
        cursor: pointer; }
    body.contact .sidebar .success .success-message.hidden {
      position: absolute;
      height: 0px;
      width: 0px;
      margin: 0px !important;
      padding: 0px !important; }

body.login .login-form-container {
  width: 300px;
  margin: 20px auto;
  text-align: center; }
  body.login .login-form-container input[type=submit] {
    min-width: 80px; }

/*# sourceMappingURL=main.css.map */
