body {
  padding-top: 100px;
  font-size: 16px; }

.navbar {
  background-color: black;
  border-bottom: 10px solid #519cd0; }
  .navbar a {
    color: white; }

.navbar-brand {
  height: auto;
  padding: 0px 15px; }

.nav.navbar-nav a:hover {
  background-color: #519cd0; }

.logo {
  height: 90px; }

.navbar-toggle {
  background-color: #519cd0; }

.navbar-collapse {
  float: left; }
  .navbar-collapse .nav.navbar-nav li a {
    text-align: center;
    padding: 35px 25px; }

.icon-bar {
  background-color: white; }

.footer {
  background-color: black;
  padding: 25px 0;

.starter-template {
  padding: 15px 0; }

.pulse-logo {
  width: 500px;
  margin: auto; }
  .pulse-logo img {
    max-width: 100%; }

.button.blue {
  background-image: -ms-linear-gradient(top, #519cd0, #519cd0);
  background-color: #519cd0;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#519cd0), to(#519cd0));
  background-image: -moz-linear-gradient(top, #519cd0, #519cd0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #519cd0), color-stop(100%, #519cd0));
  background-image: -webkit-radial-gradient(center, #519cd0, #519cd0);
  background-image: -o-linear-gradient(top, #519cd0, #519cd0);
  background-image: linear-gradient(top, #519cd0, #519cd0);
  color: white;
  border: 1px solid black; }

.button:hover {
  opacity: 0.8; }

.sidebar {
  margin-bottom: 25px; }

.contact-container {
  float: right;
  margin-top: 30px; }
  .contact-container a.button {
    font-size: 16px; }

.twitter-feed-container {
  margin-top: 15px;
  border: 2px solid black;
  padding: 0px 15px 15px;
  text-align: center;
  -webkit-box-shadow: 0 0 15px #888888;
  -moz-box-shadow: 0 0 15px #888888;
  box-shadow: 0 0 15px #888888; }

.twitter-feed-container .tweet {
  padding: 5px 0px;
  border-top: 1px solid #00ABED;
  border-bottom: 1px solid #00ABED;
  margin-bottom: 15px; }

.topbar {
  background-image: url("../images/darkpattern.png"); }
  .topbar .container {
    padding-top: 25px; }

.flexslider li .image {
  float: left;
  width: 35%; }
  .flexslider li .image img {
    border: 3px solid white;
    height: 100%;
    max-width: 100%; }
.flexslider li .promo-container {
  width: 65%;
  float: left;
  color: white; }
  .flexslider li .promo-container .content {
    padding: 25px; }
    .flexslider li .promo-container .content .promo-title {
      margin-top: 0px;
      margin-bottom: 20px; }
    .flexslider li .promo-container .content .promo {
      margin-bottom: 55px; }
    .flexslider li .promo-container .content .venue-container {
      float: left; }
    .flexslider li .promo-container .content .attendance-container {
      float: right; }
.flexslider .flex-control-nav {
  display: none; }

.clear {
  clear: both; }
