.the-band-page{
  img{
    width: 393px;
    height: 295px;
    background-size: contain;
  }

  .band-member{
    display: inline-block;
    float: left;

    .name{
      text-align: center;
      font-size: 20px;
      margin-top: 10px;
    }

    span{
      color: #519cd0;
    }
  }

  .row{
    padding-left: 23.5%;

    .patrick-container, .max-container{
      padding-right: 20px;
    }
  }

  .bio{
    overflow: hidden;

    .link{
      background-size: contain;
      background-repeat: no-repeat;
      height: 295px;
      width: 295px;
      display: block;

    }

    .marcus-link{
      background-image: url('../../images/band/marcus.JPG');
    }
    .max-link{
      background-image: url('../../images/band/max.JPG');
    }
    .patrick-link{
      background-image: url('../../images/band/pat.JPG');
    }
    .trevor-link{
      background-image: url('../../images/band/trevor.JPG');
    }
  }
}