body.contact{
  .mainbar{
    h2{
      font-weight: bold;
      color: #428bca;
      margin-bottom: 30px;
      font-size: 38px;
    }

    p{
      line-height: 38px;
      font-size: 18px;
    }
  }

  .sidebar{
    margin: 25px 0px;

    .name, .email, .message, .phone{
      label{
        width: 100%;
        margin: 5px 0px;
      }

      textarea{
        width: 100%;
        resize: none;
      }

      input, textarea{
        box-shadow: 3px 3px 5px #888888;
        border: 1px solid #888888;
      }

      .error-msg{
        color: #ff0033;
        padding-top: 5px;
      }
    }

    input[type='submit']{
      width: 40%;
      margin: 5px 0px
    }

    .success{
      margin-top: 10px;

      .success-message{
        border: 1px solid #4F8A10;
        color: #4F8A10;
        background-color: #DFF2BF;
        font-size: 24px;
        padding: 5px 0px;
        margin: 0px;
        text-align: center;
        position: relative;

        .close-msg{
          font-size: 16px;
          color: #4F8A10;
          position: absolute;
          top: 2px;
          right: 7px;
          cursor: pointer;
        }
      }

      .success-message.hidden{
        position: absolute;
        height: 0px;
        width: 0px;
        margin: 0px !important;
        padding: 0px !important;
      }
    }

  }
}