/*
Syntax error: Invalid CSS after "body.gallery-page": expected "{", was ""
        on line 1 of gallery.scss

1: body.gallery-page

Backtrace:
gallery.scss:1
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/scss/parser.rb:1312:in `expected'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/scss/parser.rb:1248:in `expected'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/scss/parser.rb:1243:in `tok!'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/scss/parser.rb:640:in `block'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/scss/parser.rb:634:in `ruleset'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/scss/parser.rb:659:in `block_child'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/scss/parser.rb:649:in `block_contents'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/scss/parser.rb:116:in `stylesheet'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/scss/parser.rb:41:in `parse'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/engine.rb:409:in `_to_tree'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/engine.rb:274:in `render'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:186:in `each'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/exec.rb:489:in `watch_or_update'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/exec.rb:346:in `process_result'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/exec.rb:43:in `parse'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/lib/sass/exec.rb:22:in `parse!'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.9/bin/scss:13:in `<top (required)>'
C:/Ruby193/bin/scss:23:in `load'
C:/Ruby193/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"body.gallery-page\": expected \"{\", was \"\"\A         on line 1 of gallery.scss\A \A 1: body.gallery-page"; }
