body.gallery-page{

  .modal-body{
    img{
      width: 560px;
      height: 400px;
    }
  }

  .row{
    margin: 0px;
  }

  .clear{
    clear: both;
  }

  .gallery-container{
    .img-box{
      width: 24%;
      float: left;
      height: 212px;
      margin-right: 10px;
      padding: 0px;
      border: 3px solid $lightblue;
      margin-bottom: 10px;

      a{
        img{
          width: 268px;
          height: 206px;
        }
      }
    }
    .img-box.last{
      margin-right: 0px;
    }
    .img-box.first{
      margin-left: 8px;
    }
  }
}