body {
  padding-top: 100px;

  font-size:16px;

  p,div,span,{
    font-family: 'Roboto', sans-serif;
  }

  h1,h2,h3,h4,h5,h6{
    font-family: 'Droid Sans', sans-serif;
  }
}

.navbar{
  background-color: black;
  border-bottom: 10px solid $lightblue;


  a{
    color:white;
  }
}

.navbar-brand{
  height: auto;
  padding:0px 15px;
}


.nav.navbar-nav a:hover{
  background-color: $lightblue;
}

.logo{
  height:90px;
}

.navbar-toggle{
  background-color: $lightblue;
}

.navbar-collapse{
  float: left;

  .nav.navbar-nav{
    li{
      a{
        text-align: center;
        padding:35px 25px;
      }
    }
  }
}

.icon-bar{
  background-color: white;
}

.footer{
  background-color: black;
  padding:25px 0;
  color:white;
  text-align: center;
}

.starter-template {
  padding:15px 0;
}

.pulse-logo{
  width:370px;
  margin:auto;

  img{
    max-width: 100%;
  }
}

.button.blue{
  @include background_gradient($lightblue,$lightblue);
  color:white;
  border:1px solid black;
}

.button:hover{
  opacity: 0.8;
}

.mainbar{
  margin-bottom: 25px;
  margin-top: 25px;
}

.sidebar{
  margin: 0px 0;
}

.contact-container{
  float: right;

  .email{
    color:white;
    font-size:14px;
    margin-top:5px;
  }

  a.button{
    font-size:16px;
    float: right;
    margin-top:10px;
  }
}

.twitter-feed-container{
  @include box-shadow(0 0 15px #888);
  margin-top:15px;
}

.twitter-feed-container{
}

.topbar{
  background-image:url('../images/darkpattern.png');

  .container{
    padding-top:25px;
  }
}

.flexslider{
  li{
    .image{
      float: left;
      width:25%;

      img{
        border:3px solid white;
        height:100%;
        max-width: 100%;
      }
    }
    .promo-container{
      width:75%;
      float: left;
      color:white;

      .content{
        padding:10px 20px;

        .promo-title{
          margin-top:0px;
          margin-bottom:20px;
        }

        .promo{
          margin-bottom: 45px;
        }

        .venue-container{
          float: left;
        }

        .attendance-container{
          float: right;
        }
      }
    }
  }

  .flex-control-nav{
    display: none;
  }
}

.clear{
  clear:both;
}

//shows page

.page-title{
  margin-bottom: 0px;
  background-image:url('../images/darkpattern.png');
  color: white;
  padding:30px 15px;
  text-align: center;
  margin-top:0px;
}

.upcoming-shows-container{
  border-radius: 5px;

  .shows-header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    //background-image: url('../images/darkpattern.png');

    .content{
      font-size: 20px;
    }

  }

  .show.last{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .show, .shows-header{
    //color:white;
    border:3px solid $lightblue;


    .venue, .location, .date, .time{
      display: inline-block;
      margin-right: -3px;
      font-size: 14px;
      text-align: center;
    }

    .venue{
      width: 25%;
    }
    .location{
      width: 35%;
    }
    .date{
      width: 20%;
    }
    .time{
      width: 20%;
    }

    .content{
      padding:15px;

    }
  }

  .show{
    border-top:none;
  }
  .show:nth-child(odd){
    //background-image: url('../images/tweedpattern.png');
  }
}

.past-shows-container{
  text-align: center;
  background-image:url('../images/darkpattern.png');
  color:white;
  padding-top: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .show{
    padding:15px 15px 25px;
    border-bottom:1px solid white;
    .date{
      float: left;
    }
    .time{
      float: right;
    }
  }
}


/*
* Media Page
*/

.content-container{
}

.song-container{
  margin-bottom: 15px;
  .song-info{
    float: left;
    width: 303px;
    color:black;
    .content{
      border:1px solid $lightblue;
      border-left:5px solid $lightblue;
      border-right: 0px;
      text-align: center;
      padding:10px 10px 8px;
    }
  }
  .jp-audio{
    float: left;


    .jp-details{
      display: none;
    }

    .jp-gui.jp-interface{
      //background-image: url('../images/tweedpattern.png');
    }
  }
}

.recording-info-container{
  text-align: center;
  background-image:url('../images/darkpattern.png');
  color:white;
  padding:15px 0px;

  h2{
    margin-bottom: 35px;
    margin-top:5px;
  }

  .image-container{
    margin:0px 25px 25px;
    border:3px solid white;
    img{
      max-width: 100%;
    }
  }

  .content{
    padding:0px 15px;
  }
}


.row {
  display: table;
}

.band-border {
  border-spacing: 10px 50px;

  .odd p{
    color: black;
  }

  .even p{
    color:#CCE2FF;
  }

  div{
    width: 25%;
    box-shadow: 6px 10px 5px #888888;
    float: none;
    display: table-cell;
    vertical-align: top;
    padding: 10px;
    border: solid;
    line-height: 1.2;
  }

  h3{
    font-weight: bold;
  }

  p {
    font-size: 15px;
    margin: auto;
  }
}