<IfModule mod_rewrite.c>

    Options +FollowSymlinks
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]

    RewriteCond %{HTTP_HOST} ^50\.116\.52\.142
    RewriteRule (.*) http://www.pulseband.ca/$1 [R=301,L]

</IfModule>

<IfModule mod_negotiation.c>
        Options -MultiViews
</IfModule>


