footer{
  background-color: black;
  padding:25px 0;
  color:white;
  text-align: center;

  .secret-social-icons{
    margin-bottom: 5px;
    .icon{
      display: inline-block;

      a{
        display: block;
        height: 100%;
      }
    }
    .t{
      background-image: url('../images/t_icon.png');
      background-size: 38px 38px;
      width:38px;
      height: 38px;
    }
    .f{
      background-image: url('../images/f_icon.png');
      background-size: 38px 38px;
      width:38px;
      height: 38px;
    }
    .y{
      background-image: url('../images/y_icon.png');
      background-size: 38px 38px;
      width:38px;
      height: 38px;
    }
  }
}